.nav-bar{
    text-align: right;
    color: black;
    font-size: 20px;
    margin-right: 12px;
    padding: 5px;
    
}
.nav-links{
    padding-right: 5px;
    padding-left: 5px;
}
#app-icon{
    margin-top: 5px;
    text-align: center;
    vertical-align: sub;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    top: 3px;
}
.gmail-logo{             /*TODO change the gmail logo to my github link*/
    margin-top: 10px;
    text-align: center;
    vertical-align: sub;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    top: 3px;
}

.google-image{
    margin-top: 11%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
}
.right{
    text-align: end;
    padding: 14px 26px;
    font-size: 25px;
}

form{
    text-align: center;
    padding: 14px 26px;
    font-size: 25px;
}
.lang{
    text-align: center;
    padding: 14px 26px;
    font-size: 15px;
}
.footer{
    background-color: rgb(218, 214, 214);
    margin-top: 15%;
    display:flexbox;
    padding-top: 15px;
    padding-bottom: 60px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 155, 155);
    width: 100%;
    position: fixed;
    margin-left: -10px;  /*TODO remove the negative margin after comminting to git*/
}

#google-search-image{
    margin-bottom: 5px;
    padding-top: 0px;
    text-align: end;
  
}
#mircrophone-img{
    padding-top: 0px;
    margin-bottom: 7px;
    text-align: end;
}
.B{
    text-align: right;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: #eeeeee;
    margin-left: 62%;
    margin-top: 20px;
}
.A{
    padding-top: 40px;
    margin-top: 15px;
    padding-left: 20px;
}
a:any-link{
    color: gray;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.country{
    padding-left: 10px;
    margin-left: 12px;
}
.searchbox{
    margin-top: 1px;
    border-style: solid;
    border-width: thin;
    border-radius: 200px; 
    width:28%;
    height: 48px;
    text-align: center;
    margin-left: 36%;
}
#search-bar{
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 200px; 
    width: 79%;
    height: 15px;
    text-align: auto;
    margin-left: 2px;
    border: none;
    padding-left: 15px;
    padding-top: 10px;
}
.button{
    text-align: center;
    margin-top: 25px;
    padding: 7px;
    margin-right: 5px;
}
input[type="text"]{
    text-align: start;
    outline-style: none;
    text-decoration-line: underline;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    vertical-align: super;
}
.footer-links{
    padding-right: 10px !important;
}
.box-search,.box2-search{
    width: 19vw;
    min-height: 22vh;
   
    position: relative;
    left: 50vw;
    top: 4vh;
    
}
.box-search li,.box2-search li{
    list-style: none;
    padding: 7px;
    margin-left: 20px;
}



.box-search p{
    position: relative;
    top: 5px;
    left: 25px;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.container-search{
  display: flex;
  
   width: 33vw;
   height: 22vh;
   border: 1px solid rgb(240, 235, 235);
}
.box2-search{
  top: 55px;
  margin-top: 5px;
  right: 5px;
}
